<div class="navbar">
  <div class="container">
    <a class="logo" href="#">MovieMaker</a>
    <img
      id="mobile-cta"
      class="mobile-menu"
      src="../static/Images/menu.svg"
      alt="dropdown menu"
    />

    <nav>
      <img
        id="mobile-exit"
        class="mobile-menu-exit"
        src="../static/Images/exit.svg"
        alt="close navigation"
      />
      <ul class="primary-nav">
        <li class="current"><a href="#">Home</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">Music</a></li>
      </ul>

      <ul class="secondary-nav">
        <li class="create-magic-cta"><a href="#">Create Magic!</a></li>
      </ul>
    </nav>
  </div>
</div>
