{% extends 'layout.html'%}
{%block head%}
    <link rel="stylesheet" href="../static/download.css" type="text/css" />
{% endblock %}
{% block body %}
    <!-- <h2 class="heading">Your File is Ready...</h2> -->
    <!-- <a href="{{ url_for('database_download', filename=filename) }}">Download</a> -->
    <!-- Full width -->
    <button class="btn mt-5" style="width:100%"><i class="fa fa-download"></i><a href="{{ url_for('database_download', filename=filename) }}"> Download</a>
</button>
{% endblock  %}
