{% extends "layout.html" %} 
{% block body %}
<form action="" method="POST">
<div class="container">
    <div class="input-group mb-3 mt-5">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Templates</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected disabled hidden>Choose...</option>
      {% for i in range(5) %}
        <option value={{ i }}>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
    <div class="input-group mb-3 mt-5 ">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Music</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected disabled hidden>Choose...</option>
      {% for i in range(5) %}
        <option value={{ i }}>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <input class="form-control mt-5" type="text" placeholder="Enter Text Here">
  <button type="button" class="btn btn-primary btn-lg rounded-pill mt-5">Create Magic!</button>
</div>
</form>

{% endblock %}
