{% extends './layout.html' %} 

{% block body %}
     <section class="hero">
      <div class="container">
        <div class="left-col">
          <p class="subhead">Create Momentous Videos</p>
          <h1>Make amazing videos in minutes with MovieMaker video editor.</h1>
          <div class="hero-cta">
            <a href="#" class="primary-cta">Create Magic!</a>
          </div>
        </div>

        <img
          class="hero-img"
          src="../static/Images/vcamera.svg"
          alt="movie picture"
        />
      </div>
    </section>

{% endblock %}
