<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/sytle.css" />
    <title>MovieMaker</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "includes/_navbar.html" %}
    {% block body %}{% endblock %}
  



  <script src="../static/app.js" charset="utf-8"></script>
  <script src="../static/Ui.js" charset="utf-8"></script>
  </body>

</html>
